#socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 180px;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    border-radius: 1px;
    overflow: hidden;
}

.logosSM {
    font-size: 40px;
    height: 101%;
    width: 101%;
    color: #000;
    padding: 10px;
    transition: all 100ms ease-in-out;
}

.inst:hover {
    color: #c92870;
}

.twi:hover {
    color: #4cadd3;
}
.face:hover {
    color: #4047a8;
}

/*********** 992px MAX-WIDTH ***********/

@media screen and (max-width:992px){
    #socialMedia {
        width: 150px;
    }
    
    .logosSM {
        font-size: 35px;
        padding: 7px;
    }
}

/*********** 768px MAX-WIDTH ***********/

@media screen and (max-width:768px){
    #socialMedia {
        width: 140px;
    }
    
    .logosSM {
        font-size: 30px;
        padding: 7px;
    }
}