.itemDetailContainer{
    margin: 40px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color:rgba(54, 54, 54, 0.798);
    overflow: hidden;
}

.productDetails{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}


.imageContainer{
    width: 30%;
    margin-right: 100px;
    height: 100%;
    background-color: #fff;
}

.productImage{
    width: 100%;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    width: 800px;
    min-height: 300px;
}

.productTitle{
    color: aliceblue;
    font-size: 25px;
    border-bottom: solid 2px #fff;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.productDescription{
    color: rgb(208, 208, 208);
    font-size: 16px;
    margin: 20px 0 0px 0;
    padding-bottom: 10px;
    border-bottom: solid 1px #fff;
}

.productPrice{
    align-self: center;
    color: #fff;
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
}

.buttonTerminate{
    align-self: center;
    height: auto;
    width: 150px;
    font-size: 15px;
    padding: 5px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: solid 1px #000;
    cursor: pointer;
    font-weight: 600;
    transition: all 100ms ease-in-out;
}

.buttonTerminate:hover{
    color: #fff;
    background-color: rgb(24, 24, 24);
    border: solid 1px #fff;
}

.detailSubContainer{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
}

/*********** 992px MAX-WIDTH ***********/

@media screen and (max-width:992px){
    
    .imageContainer{
        width: 100%;
        margin-right: 20px;
    }
    
    .productImage{
        width: 100%;
    }
    
    .details{
        padding: 30px;
        width: 700px;
        min-height: 280px;
    }
    
    .productTitle{
        font-size: 18px;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    
    .productDescription{
        font-size: 14px;
    }
    
    .productPrice{
        font-size: 70px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .buttonTerminate{
        font-size: 14px;
    }
    
    .buttonTerminate:hover{
        color: #fff;
        background-color: rgb(24, 24, 24);
        border: solid 1px #fff;
    }
    
    .detailSubContainer{
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 15px;
    }
}

/*********** 768px MAX-WIDTH ***********/

@media screen and (max-width:768px){
    
    .imageContainer{
        width: 100%;
        margin-right: 20px;
    }
    
    .productImage{
        width: 100%;
    }
    
    .details{
        padding: 30px;
        width: 700px;
        min-height: 280px;
    }
    
    .productTitle{
        font-size: 18px;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    
    .productDescription{
        font-size: 14px;
    }
    
    .productPrice{
        font-size: 70px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .buttonTerminate{
        font-size: 14px;
    }
    
    .buttonTerminate:hover{
        color: #fff;
        background-color: rgb(24, 24, 24);
        border: solid 1px #fff;
    }
    
    .detailSubContainer{
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 15px;
    }
}

/*********** 576px MAX-WIDTH ***********/

@media screen and (max-width:576px){
    
    .imageContainer{
        margin-right: 10px;
    }
    
    .details{
        padding: 20px;
        width: 300px;
        min-height: 280px;
    }
    
    .productTitle{
        font-size: 12px;
        margin-bottom: 15px;
        padding: 10px;
    }
    
    .productDescription{
        font-size: 10px;
        margin: 5px;
    }
    
    .productPrice{
        font-size: 40px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .buttonTerminate{
        font-size: 12px;
    }
    
    .detailSubContainer{
        padding: 10px;
    }
}