.productDetails{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

.productImage{
    width: 30%;
    margin-right: 100px;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    width: 800px;
    height: 300px;
}

.productTitle{
    color: aliceblue;
    font-size: 25px;
    border-bottom: solid 2px #fff;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.productDescription{
    color: rgb(208, 208, 208);
    font-size: 16px;
    margin: 20px 0 20px 0;
    padding-bottom: 20px;
    border-bottom: solid 1px #fff;
}

.productPrice{
    align-self: center;
    color: #fff;
    font-size: 50px;
    margin: 20px 0 0 0;
}