.cartContainer{
    height: 100%;
    width: 45%;
    padding: 20px 100px 20px 20px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1px;
}

.titles{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(176, 168, 168);
    font-size: 14px;
}

.title{
    width: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 2px;
}

.titleProduct{
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.cartList{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.cartItem{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: solid 2px rgb(176, 172, 172);
    border-bottom: solid 1px rgb(176, 172, 172);
    font-size: 16px;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 5px;
    padding: 5px;
}

.cartImg{
    height: 150px;
    width: auto;
}

.titleItem{
    width: 100%;
    margin-top: 5px;
}

.textItem{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 15%;
    margin: 5px;
    padding: 2px;
}

.eraseItem{
    position: absolute;
    right: -60px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: solid 2px #fff;
    background-color: #000;
    color: #fff;
    transition: all 100ms ease-in-out;
}

.eraseItem:hover{
    color: #000;
    background-color: #fff;
}

.totalPrice{
    align-self: flex-end;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}

.buttons{
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 60px;
    justify-content: space-around;
    align-items: flex-end;
}

.purchaseBtn {
    width: 150px;
    height: auto;
    padding: 15px;
    cursor: pointer;
    background-color: #e98049;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    transition: all 100ms ease-in-out;
}

.purchaseBtn:hover{
    background-color:rgb(237 180 109);
}

.eraseAllItems{
    align-self: flex-end;
    width: 150px;
    height: auto;
    padding: 15px;
    cursor: pointer;
    background-color: #617c75;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    transition: all 100ms ease-in-out;
}

.eraseAllItems:hover{
    background-color: #87a990;
}

.backContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.noCart{
    align-self: center;
    margin: 30px 0px 0px 80px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.backHome{
    width: 150px;
    height: auto;
    padding: 15px;
    cursor: pointer;
    background-color: #e98049;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    transition: all 100ms ease-in-out;
    margin: 30px 30px 30px 100px;
    align-self: center;
}

.backHome:hover{
    background-color: rgb(237 180 109);
}

.priceFont{
    font-family: 'Lobster', cursive;
    font-size: 25px;
}