@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.modalBG{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.86);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    position: relative;
    margin: 0 auto;
    display: block;
    width: 500px;
    min-height: 300px;
    padding: 15px;
    background-color: lightgray;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form {
    width: 90%;
    height: 90%;
    position: relative;
    background: #FFFFFF;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 2px;
}
.form div {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form div:hover,.form div:active,.form div:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form.off{
    display: none;
}

.form .login-form.off{
    display: none;
}

.closeModal{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 16px;
    width:20px;
    transition: all 100ms ease-in-out;
    border: none;
    background-color: #43A047;
}

.closeModal:hover{
    color: #FFFFFF;
}