.cart{
    font-size: 30px;
    cursor: pointer;
}

.cartQty{
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 20px 5px;
    padding: 3px;
    border-radius: 50px;
    background-color: #000;
    width: 17px;
    height: 17px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartQty:hover{
    background-color: #000;
    color: #fff;
}