.cartContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    stroke: rgb(199, 207, 214);
    font-size: 30px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.cart:hover{
    stroke: #fff;
}