.widgetContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart{
    stroke: rgb(199, 207, 214);
    font-size: 30px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.cart:hover{
    stroke: #fff;
}

.cartQty{
    color: rgb(199, 207, 214);
    font-weight: 600;
    font-size: 14px;
    margin: 5px;
}