.item {
    position: relative;
    height: 300px;
    width: 300px;
    background-color: #fff;
    color: #000;
    margin-bottom: 0px;
    padding: 3px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 1px rgb(198, 198, 198);
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: all 100ms ease-in-out;
    margin-bottom: 20px;
}

.itemTitle {
    font-size: 12px;
    padding: 15px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #000;
    transition: all 50ms ease-in-out;
}

.item:hover .itemTitle {
    background-color: rgb(25, 25, 25);
    color: #fff;
}

.itemImage {
    height: 130px;
    margin: 5px;
    transition: all 100ms ease-in-out;
}

.itemPrice {
    align-self: flex-start;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    height: auto;
    min-width: 60px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Lobster', cursive;
    background-color: rgb(53 58 54);
    color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 100ms ease-in-out;
}

.itemDetails {
    position: absolute;
    bottom: 20px;
    right: 5px;
    margin-right: 5px;
    font-size: 22px;
    font-style: italic;
    font-family: 'Lobster', cursive;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.itemDetails:hover {
    color: rgb(97, 97, 241);
}