*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    height: 70px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: #212529;
    background-color: rgb(37, 37, 37);
    width: 100%;
    overflow: visible;
    border-bottom: solid 1px rgb(189, 184, 184);
  }

  nav{
    height: 100%;
  }
  
  .nav-area {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .menus {
    display: flex;
    list-style: none;
    height: 100%;
  }
  
  .menu-items {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: all 100ms ease-in-out;
    height: 100%;
  }
  
  .menu-items a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    text-align: center;
    font-size: inherit;
    text-decoration: none;
    color: rgb(189, 184, 184);
    font-weight: 600;
  }

  .menu-items a:hover .cartQty{
    background-color: #000;
    color: #fff;
  }
  
  .menu-items button {
    position: relative;
    align-self: flex-end;
    color: rgb(189, 184, 184);
    font-size: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 80px;
    text-align: center;
  }
  
  .menu-items a,
  .menu-items button {
    text-align: left;
    padding: 0.7rem 1rem;
  }
  
  .menu-items a:hover,
  .menu-items button:hover{
    background-color: #f2f2f2;
    color: #212529;
  }
  
  .arrow::after {
    content: "";
    display: inline-block;
    margin-left: 0.28em;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
  }
  
  .dropdown {
    position: absolute;
    top: 101%;
    right: 0;
    left: auto;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08), 0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 14px;
    z-index: 9999;
    min-width: 10rem;
    list-style: none;
    background-color: rgb(37, 37, 37);
    border-radius: 0px;
    border: solid 1px #fff;
    border-top: none;
    display: none;

  }
  
  .dropdown.show {
    display: block;
  }

  .dropdown .menu-items a{
    width: 100%;
  }

  .userContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .loginText{
    text-align: center;
    min-width: 50px;
    color: rgb(189, 184, 184);
    font-weight: 600;
    padding-left: 15px;
  }