@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  height: 70px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
  background-image: url(../../../public/retroNew.jpg);
  /*linear-gradient(rgba(0, 0, 0, 0.3), transparent),*/
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow: visible;
  border-bottom: solid 2px rgb(252, 249, 249);
}

nav {
  height: 100%;
}

.nav-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.menus {
  display: flex;
  list-style: none;
  height: 100%;
}

.menu-items {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: all 100ms ease-in-out;
  height: 100%;
}

.menu-items a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  transition: all 100ms ease-in-out;
}

.menu-items button {
  position: relative;
  align-self: flex-end;
  color: rgb(0, 0, 0);
  font-size: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 80px;
  text-align: center;
  transition: all 100ms ease-in-out;
}

.menu-items a,
.menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  text-shadow: 0.5px 0.5px 0px rgb(87, 85, 85);
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdownMe {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 250px;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08), 0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 14px;
  z-index: 9999;
  min-width: 10rem;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.93);
  border-radius: 0px;
  padding: 10px 20px;
  display: none;
  animation-duration: 0.4s;
  animation-name: dropdownMe;
  animation-iteration-count: 1;
  animation-direction: alternate;

}

.dropdownMe.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-duration: 0.4s;
  animation-name: dropdownMe;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.dropdownMe.notShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-duration: 0.4s;
  animation-name: dropUpMe;
  animation-iteration-count: 1;
  animation-direction: alternate;
  opacity: 0;
  display: none;
}

.dropdownMe .menu-items a {
  width: 100%;
}

.userContainer {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loginText {
  text-align: center;
  min-width: 50px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}

.navBarLogo {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logoImg {
  background-image: url(../../../public/racoonBlack.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.logoText {
  background-image: url(../../../public/racoonTxtBlack.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 130px;
  height: 50px;
}

.noToggle:hover .navItem {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: #000 !important;
}

@keyframes dropdownMe {
  0% {
    opacity: 0;
    top: 70%;
    display: flex;
  }

  30%{
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 100%;
  }
}

@keyframes dropUpMe {
  0% {
    opacity: 1;
    top: 100%;
  }

  30%{
    opacity: 0;
  }

  100% {
    opacity: 0;
    top: 70%;
    display: none;
  }
}

/*********** 992px MAX-WIDTH ***********/

@media screen and (max-width:992px) {
  header {
    height: 60px;
  }

  .menu-items a {
    font-size: 14px;
    min-width: 80px;
  }

  .loginText {
    font-size: 14px;
    font-style: italic;
    padding: 0;
  }

  .logoImg {
    height: 40px;
    width: 40px;
  }

  .logoText {
    width: 100px;
    height: 35px;
  }

  .dropdownMe {
    top: 100%;
    right: 20%;
    left: 20%;
    font-size: 14px;
    width: auto;
    border: solid 1px #000;
    border-top: none;
    padding: 0px;
    min-width: 110px;
  }

}

/*********** 768px MAX-WIDTH ***********/

@media screen and (max-width:768px) {
  header {
    height: 55px;
  }

  .menu-items a {
    font-size: 12px;
    min-width: 70px;
  }

  .dropdownMe {
    font-size: 12px;
  }

  .loginText {
    font-size: 12px;
    font-style: italic;
    padding: 0;
  }

  .logoImg {
    height: 40px;
    width: 40px;
  }

  .logoText {
    width: 100px;
    height: 35px;
  }
}