.itemCount{
    margin-top: 30px;
    padding: 10px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 150px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 2px;
    background-color: rgb(24, 24, 24);
    margin: 20px;
}

.itemYStock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.stock{
    font-size: 10px;
    color: rgb(74, 74, 223);
    font-weight: 600;
}

.quantityChange{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px;
    padding: 0px 15px 0px 15px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 2px;
}

.addDeduct{
    border: none;
    background-color: rgb(24, 24, 24);
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.addDeduct:hover{
    color: rgb(74, 74, 223);
}

.addCart{
    border: solid 1px rgb(0,0,0);
    border-radius: 2px;
    background-color: rgb(238, 235, 235);
    color: #000;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.addCart:hover{
    color: #fff;
    background-color: rgb(24, 24, 24);
    border: solid 1px #fff;
}

.quantity{
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}