.userWidget{
    font-size: 27px;
    color: #000;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

/*********** 992px MAX-WIDTH ***********/

@media screen and (max-width:992px){
    .userWidget{
        font-size: 30px;
    }
}