.loginContain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 40px;
    text-align: center;
    cursor: pointer;
}

.userWidget{
    font-size: 27px;
    color: #000;
    transition: all 100ms ease-in-out;
}


#userNameTop{
    height: auto;
    margin-bottom: 0px;
    margin-left: 10px;
}

/*********** 992px MAX-WIDTH ***********/

@media screen and (max-width:992px){
    .userWidget{
        font-size: 30px;
    }
}