.modal{
    width: 1200px;
    padding: 30px;
}

.form{
    height: 95%;
    width: 95%;
    padding: 10px;
}

.orderContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.titles{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(136, 131, 131);
    font-size: 14px;
}

.title{
    width: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 2px;
}

.titleProduct{
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.order{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}